@tailwind base;
@tailwind components;

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow-x: hidden;
  font-family: Syne;
}

.navbar {
  min-height: 3rem;
  max-height: 3rem;
}

.listing-card {
  @apply card lg:card-side
  shadow-xl
  my-6 mx-2 xl:mx-48 2xl:mx-96
  bg-gray-50;
}

.featured-section {
  @apply grid grid-flow-row xl:grid-cols-3
  justify-items-center
  gap-10 xl:gap-20
  pt-10 px-4;
}

.main-logo-btn {
  @apply border border-black
  hover:text-white hover:border-white hover:bg-black
  font-bold uppercase
  px-2 py-2
  outline-none focus:outline-none
  mx-2 mb-1
  ease-linear transition-all duration-150
  w-40;
}

.full-nav-btn {
  @apply hover:text-white hover:border-white
  uppercase text-base text-gray-300 font-bold focus:bg-rose-600
  px-6
  outline-none focus:outline-none
  mx-2
  ease-linear transition-all duration-150;
}

.main-contact-btn {
  @apply bg-gray-200 hover:bg-gray-300
  font-bold text-black uppercase rounded-md
  px-2 py-2
  mr-4
  outline-none focus:outline-none
  ease-linear transition-all duration-150
  w-40;
}

.main-card-btn {
  @apply text-sm
 text-white bg-gray-800 rounded-md hover:bg-gray-600
  px-1 py-1
  mr-4
  outline-none focus:outline-none
  ease-linear transition-all duration-150
  w-20 h-8;
}

@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
