@tailwind base;
@tailwind components;

.main-logo-btn {
  @apply border border-black
  hover:text-white hover:border-white hover:bg-black hover:rounded-md
  font-bold uppercase
  px-2 py-2 rounded
  outline-none focus:outline-none
  mx-2 mb-1
  ease-linear transition-all duration-150
  w-40;
}

@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
