@tailwind base;
@tailwind components;

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow-x: hidden;
  font-family: Syne;
  scroll-behavior: smooth;
}

.card,
.card-body,
.card.image-full:before {
  @apply !rounded-none;
}

.card-image {
  @apply relative;
}

.navbar {
  min-height: 3.5rem;
  max-height: 3.5rem;
}

.featured-artist-link {
  @apply flex flex-col card-body
  h-80 2xl:h-96
!bg-rose-600 text-4xl text-gray-50
hover:text-gray-50 hover:!bg-gray-800
  ease-linear transition-all duration-150;
}

.artist-listing-card {
  @apply card lg:card-side
  shadow-xl
  mb-8 mx-2 xl:mx-48 2xl:mx-96
  bg-gray-50;
}

.event-listing-card {
  @apply card lg:card-side
  shadow-xl
  mb-8 mx-2 xl:mx-48 2xl:mx-96
  bg-gray-50;
}

.featured-section {
  @apply grid grid-flow-row xl:grid-cols-4
  justify-items-center
  gap-2
  pt-10 px-1;
}

.detail-social-links {
  @apply w-9 h-9
  hover:text-gray-500 text-gray-800
  ease-linear transition-all duration-150;
}

.main-logo-btn {
  @apply border border-black
  hover:text-white hover:border-white hover:bg-black
  font-bold uppercase
  px-2 py-2
  outline-none focus:outline-none
  mx-2 mb-1
  ease-linear transition-all duration-150
  w-40;
}

.fc-day-today {
  @apply !bg-rose-100;
}

.fc-daygrid-event-dot {
  @apply !border-rose-600;
}

.fc-button,
.fc-timegrid-event {
  @apply !bg-rose-600 !border-none;
}

.fc-toolbar-title {
  @apply capitalize text-xl text-center;
}

.full-nav-btn {
  @apply hover:text-white hover:border-white
  uppercase text-base text-gray-300 font-bold focus:bg-rose-600
  px-6
  outline-none focus:outline-none
  mx-2
  ease-linear transition-all duration-150;
}

.drawer-nav-btn {
  @apply uppercase text-black
  text-xl hover:bg-rose-600 hover:text-white
  hover:rounded-none focus:rounded-none
  outline-none focus:outline-none
  !rounded-none
  ease-linear transition-all duration-150;
}

.main-contact-btn {
  @apply bg-gray-200 hover:bg-gray-300
  font-bold text-black uppercase
  px-2 py-2
  mr-4
  outline-none focus:outline-none
  ease-linear transition-all duration-150
  w-40;
}

.main-card-btn {
  @apply text-sm
 text-black bg-gray-100 hover:bg-rose-600 hover:text-white
  px-1 py-1
  mr-4
  outline-none focus:outline-none
  ease-linear transition-all duration-150
  w-20 h-8 shadow-md;
}

.featured-card-btn {
  @apply text-sm
 text-gray-200 bg-gray-800 hover:bg-rose-600
  px-1 py-1
  mr-4
  outline-none focus:outline-none
  ease-linear transition-all duration-150
  w-20 h-8 shadow-md;
}

@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
